lightning: {
                            '0%, 100%': {
                                opacity: '0',
                            },
                            '20%, 80%': {
                                opacity: '1',
                            },
                        }
                    },
                    animation:{
                        sino: 'sino_kf 0.31s ease-in-out infinite',
                        lightning: 'lightning 3s infinite',



                    <style>
        .lightning {
            width: 15px; /* Largura do raio */
            height: 80px; /* Altura do raio */
            background-color: green; /* Cor do raio */
            position: absolute; /* Posiciona o raio no topo */
            top: 10%; /* Distância do topo */
            left: 50%; /* Centraliza horizontalmente */
            transform: translateX(-50%); /* Ajusta o centro do raio */
            clip-path: polygon(50% 0%, 60% 30%, 40% 30%, 100% 30%, 50% 100%, 70% 60%, 30% 60%);
            animation: lightning 3s infinite; /* Duração da animação */
        }
    </style>


                    <!-- Animação do Raio -->
    <div class="lightning"></div>
